<footer class="footer">
    <div class="footer__info">
        <p class="footer__info-text">© 2022  ООО «Товары и точка»</p>
    </div>
    
</footer>

<section class="menu">
        <div class="menu__mobile">
            <div class="menu__mobile__main">
                <img class="" src="../images/main.svg" alt="main.svg">
            </div>
            <div class="menu__mobile__catalog">
                <img class="" src="../images/catalog.svg" alt="catalog.svg">
            </div>
            <div class="menu__mobile__cart">
                <img class="" src="../images/cart-mobile.svg" alt="cart-mobile.svg">
            </div>
            <div class="menu__mobile__favorites">
                <img class="" src="../images/favorites-mobile.svg" alt="favorites-mobile.svg">
            </div>
            <div class="menu__mobile__profile">
                <img class="" src="../images/profile-mobile.svg" alt="profile-mobile.svg">
            </div>
        </div>
    </section>

<script src="js/main.min.js"></script>
</body>
</html>