<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__inner">
        <div class="header__nav">
          <button class="header__nav-burger">
            <!-- <span class="header__nav-burger__line"></span> -->
            <img
              class="header__nav-burger-img"
              src="../images/burger-menu.svg"
              alt="burger-menu.svg"
            />
          </button>
          <a class="header__nav-logo" href="">
            <img
              class="header__nav-logo__img"
              src="../images/logo.png"
              alt=""
            />
          </a>
        </div>
        <div class="header__search">
          <input
            class="header__search-input"
            type="text"
            placeholder="Я ищу..."
          />
          <button class="header__search-btn"></button>
        </div>
        <div class="header__navbar-pc">
          <div class="header__navbar-pc__profile">
            <img
              class="header__navbar-pc__profile-img"
              src="../images/profile.svg"
              alt="profile.svg"
            />
            <p class="header__navbar-pc__profile-text">Профиль</p>
          </div>
          <div class="header__navbar-pc__cart">
            <img
              class="header__navbar-pc__cart-img"
              src="../images/cart.svg"
              alt="cart.svg"
            />
            
            <p class="header__navbar-pc__cart-text">Корзина</p>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
